.dns-alias-name {
     min-width: 300px;
     max-width: 300px;
}

.vip-port {
     width: 100px;
}

.hidden {
     display: none;
}

.ellipsis-text {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.alert-level-secs {
     min-width: 140px;
     max-width: 140px;
}

.alert-level-input {
     min-width: 56px;
     max-width: 56px;
     text-align: right;
}

.alert-level-load-input {
     min-width: 82px;
     max-width: 82px;
     text-align: right;
}

.hostname-select {
     min-width: 300px;
     max-width: 300px;
}

.volume-table-col {
     min-width: 300px;
     max-width: 300px;
}

.percent-label {
     padding-left: 3px;
     float: left;
     line-height: calc(2.25rem + 2px);
     font-weight: bold;
}

.ta-r {
     text-align: right;
}

.ta-c {
     text-align: center;
}

.ta-l {
     text-align: left;
}


.fl {
     float: left;
}

.hostname-table-col {
     min-width: 200px;
     max-width: 200px;
}

.ip-address-table-col {
     min-width: 180px;
     max-width: 180px;
}

.port-name-table-col {
     min-width: 180px;
     max-width: 180px;
}

.environment-table-col {
     min-width: 200px;
     max-width: 200px;
}

.datacenter-table-col {
     min-width: 200px;
     max-width: 200px;
}

.cluster-table-col {
     min-width: 200px;
     max-width: 200px;
}

.change-delete-btn-table-col {
     min-width: 170px;
     max-width: 170px;
}

.view-order-table-col {
     min-width: 120px;
     max-width: 120px;
}

.active-table-col {
     min-width: 80px;
     max-width: 80px;
}

.table-tbody {
     display: block;
     max-height: 600px;
     overflow-y: auto;
}

.checkbox-form-col {
     line-height: $line-height-sm;
     vertical-align: middle;
     display: inline-block;
     margin-bottom: $label-margin-bottom;
}

.color-red {
     color: #ff0000;
}

.color-red-bold {
     color: #ff0000;
     font-weight: bold;
}

.color-green {
     color: #00ff00;
}

.tm-outset {
     border-top: 1px outset #969494;
}

