//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $primary: #3b5998;


$app-title-color: #ffffff;

$block-bg: transparent;
$block-content-bg: #ffffff;

$color-light: #ffffff;
$side-header-bg: transparent;


$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);

$body-bg: #6f6d6d;
$body-bg-light: #232323;

$header-dark-bg: rgb(2, 149, 190);
$body-color-light: rgba(252, 216, 0, 1);
$headings-color: #FCD800;
$sidebar-dark-bg: #626569;

$title-header-bg: #0665d0;

$title-header-color: rgba(252, 216, 0, .75);

$menu-item-border-color: gray;

$badge-padding-y: .4em;
$badge-padding-x: .4em;

$panel-title-header-bg: $title-header-bg;
$panel-title-color: #ffffff;

$th-bg-color: $sidebar-dark-bg;


$table-accent-bg: #d9dce2;
$table-hover-bg: $sidebar-dark-bg;
$table-hover-color: #ffffff;

$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1.125 !default;

$monitoring-table-width: 1280px;
$filter-bar-height: 116px;

$sidebar-light-bg: #ababab;
$nav-main-link-color: #000000;
$main-nav-link-icon-dark-color: #ff0000;
$main-nav-link-icon-dark-color-hover: #ffffff;

$btn-padding-y-lg: 0.25rem;
$font-size-lg: 1rem;
