//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $primary: #3b5998;


$panel-title-color: rgba(252,216,0,.75);

$color-light: #ffffff;
$side-header-bg: transparent;

$font-size-base:              .85rem;
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$header-dark-bg: rgb(2, 149, 190);
$body-color-light:  rgba(252,216,0,1);
$headings-color: #FCD800;
$sidebar-dark-bg: #626569;
$title-header-bg: #626569;
$title-header-color: rgba(252,216,0,.75);

$menu-item-border-color: gray;
